<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
{% if settings %}
<title>{{ settings.trade_mark }}</title>
{% endif %}
<body>
    {% if settings %}
    <h1>{{ settings.trade_mark }}</h1>
    <h4>{{ settings.slogan }}</h4>
    {% else %}
    <h1> TURTLE NFT </h1>
    {% endif %}

     {# Listing all products #}
    {% block body %}
        <ul>
        <form action="{% url 'search' %}" method="GET">
            {% csrf_token %}
            <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
        </form>
        {% for product in products %}
            <li><a href="{% url 'product-detail' product.slug %}">{{ product.name }}</a></li>
            <li>{{ product.description }}</li>
            {% if product.category == None %}
            <p>No category for this product</p>
            {% else %}
            <li>{{ product.category }}</li>            
            {% endif %}
            <img style="max-width: 300px" src={{ product.image.url }}/>
            <li>{{ product.price }}</li>
        {% empty %}
        <li>No Product listed</li>
        {% endfor %}
        </ul>
    {% endblock body %}

    {# Page pagination #}
    {% block pagination %}
    {% if products.has_other_pages %}
        <div class="pagination">
            <span class="page-links">
                {% if products.has_previous %}
                    <a href="{{ request.path }}?page={{ products.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}.
                </span>
                {% if products.has_next %}
                    <a href="{{ request.path }}?page={{ products.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    {% endblock pagination %}


    
</body>
</html>