<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {% block body %}
        <ul>
        {% for product in products %}
            <li><a href="{% url 'product-detail' product.slug %}">{{ product.name }}</a></li>
            <li>{{ product.description }}</li>
            {% if product.category == None %}
            <p>No category for this product</p>
            {% else %}
            <li>{{ product.category }}</li>            
            {% endif %}
            <img style="max-width: 300px" src={{ product.image.url }}/>
            <li>{{ product.price }}</li>
        {% empty %}
        <li>No Product listed</li>
        {% endfor %}
        </ul>
    {% endblock body %}
    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock pagination %}


    
</body>
</html>