{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/marketplace.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock link %}

<body>

{% block body %}

<!-- navbar -->
    <section class="header-section">
        
        <h1>Marketplace</h1>
        <div class="breadcump-navigation">
            <span>
                <a href="{% url 'marketplace' %}" class="home-link">Home</a>
                <a href="#">Explore</a>
            </span>
        </div>
        
</section>

<section class="main-section">
    <div class="main-section-wrapper">
        <div class="main-section-sidebar">
            <div class="main-section-sidebar-wrapper">
                <div class="search-wrapper">
                    <form action="{% url 'search' %}" method="GET">
                        {% csrf_token %}
                        <div class="search-icon-wrapper">
                            <input type="text" class="search-input" placeholder="Search.." name="search">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/>
                                </svg>
                            </span>
                        </div>
                    </form>
                </div>

                <div class="sidenav">
                    <!-- Dropdown item start -->
                    <button class="dropdown-btn">Category 
                        <span class="dropdown-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                        </span>
                    </button>
                    <div class="dropdown-container">
                        {% for category in categories %}
                            <a href="{% url 'category-filter' category.slug %}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                    <!-- Dropdown item end -->
                    <!-- Dropdown item start -->
                    <button class="dropdown-btn">Status 
                        <span class="dropdown-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                        </span>
                    </button>
                    <div class="dropdown-container">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <!-- Dropdown item end -->
                  </div>
            </div>
            <div class="pagination">
                <nav aria-label="...">
                    {% if products.has_other_pages %}
                        <ul class="pagination">
                            {% if products.has_previous %}
                                <a class="page-link" href="?page={{ products.previous_page_number }}" tabindex="-1">Previous</a>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="" tabindex="-1">Previous</a>
                                </li>
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                                </li>
                                {% else %}
                                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                                <a class="page-link" href="?page={{ products.next_page_number }}" tabindex="-1">Next</a>
                            {% else %}
                                <li class="page-item disabled">
                                <a class="page-link" href="" tabindex="-1">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>    
            </div>
            
        </div>
   
      
        <div class="main-section-content">
            <div class="card-grid-container">
                {% for product in products %}
                    <div class="grid-item-card">
                        <div class="card-img-wrapper">
                            <img src="{{ product.image.url }}" alt="">
                        </div>
                        <h4>{{ product.price }} ${{ product.token }}</h4>
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <a href="#">
                                <input type="submit" class="btn1" value="Buy" name="buy"/>
                            </a>
                        </form>
                    </div>
                {% endfor %}
              </div>                  
        </div>
    </div>
</div> 

</section>
<div class="bubbles"></div>

<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
    }
</script>
<script src="{% static 'script.js' %}"></script>
    <!-- slider lib -->
<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' %}"></script>
{% endblock body %}
</body>
</html>