@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
  }


:root{
    --background: rgb(0,74,173);
    --gradient: linear-gradient(176deg, rgba(0,74,173,1) 0%, rgba(84,110,120,1) 100%);
    --water-gradient: linear-gradient(#04619F,#36669d);
}

::selection{
    background-color: lightgray;
    color: var(--background);
}

body{
     background: var(--background);
}

.btn1{
    padding: .5rem 5rem;
    border-radius: 30px;
    transition: .5s;
    font-size: 11.rem;
    font-weight: 500;
    border: 4px solid rgba(255, 255, 255, 0.249);
    box-shadow: inset 0 0 10px rgb(0,74,173);
    color: rgb(0,74,173);
    background: #fff;
}
.btn1:hover{
    color: #fff;
    background: var(--gradient);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.371);
    border: 4px solid  rgb(0,74,173);
}

.btn{
    padding: .8rem 1.5rem;
    border-radius: 30px;
    transition: .5s;
    font-size: 11.rem;
    font-weight: 500;
    border: 4px solid rgba(255, 255, 255, 0.249);
    box-shadow: inset 0 0 10px rgb(0,74,173);
    color: rgb(0,74,173);
    background: #fff;
}
.btn:hover{
    color: #fff;
    background: var(--gradient);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.371);
    border: 4px solid  rgb(0,74,173);
}


/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(215, 215, 215, 0.57);
    z-index: 35534534534;
}
.navbar .logo img{
    width: 4rem;
}
.navbar .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.navbar .links a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

 .badge:after{
    content:'Coming soon';
    font-size:12px;
    color: #fff;
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.176);
    padding: 5px 7px;
    position:relative;
    left:-30px;
    top:-20px;
}

.badge1:after{
    content:'Coming soon';
    font-size:12px;
    color: #fff;
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.176);
    padding: 5px 7px;
    position:relative;
    left:-40px;
    top:-40px;
}
/* navbar */


/* header */
.header{
    padding-top: 10rem !important;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    background: var(--water-gradient);
    background-position: top top;
    gap: 4rem;
    padding-bottom: 7rem;
}
.header .left h1{
    font-size: 6rem;
    color: #fff;
    line-height: 6.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: 10px 6px 4px rgba(0, 0, 0, 0.435);
}
.header .left p{
    font-size: 1.3rem;
    color: rgb(238, 238, 238);
    max-width: 45rem;
    margin: 2rem 0;
    line-height: 1.7rem;
}
.header .right img{
    width: 25rem;
    height: 25rem;
    border-radius: 30px;
    transform: rotate(10deg);
    transform: rotate(7deg);
    animation-fill-mode: both;
    animation-name: imagesquish;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes imagesquish {
    0% {
        transform: translate(0) rotate(7deg);
    }

    50% {
        transform: translateY(20px) rotate(7deg);
    }

    100% {
        transform: translate(0) rotate(7deg);
    }
}
.sale-buy{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 2rem;
    border-radius: 30px;
    color: #fff;
    overflow: hidden;
}
.sale-buy .left, .sale-buy .right{
    padding: .3rem 1rem;
    padding-top: .5rem;
}

.sale-buy .left, .sale-buy .right0{
    padding: .3rem 1rem;
    padding-top: .5rem;
}
.sale-buy .left{
    background: rgba(0, 0, 0, 0.297);
    padding-right: .5rem;
}
.sale-buy .right{
    background: rgba(0, 0, 0, 0.297);
    padding-left: .5rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.sale-buy .right0{
    background: rgba(255, 255, 255, 0.302);
    padding-left: .5rem;
    
}
/* animtions */

.bubbles .bubble {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0;
    border-radius: 46% 54% 40% 60% / 46% 41% 59% 54% ;
    box-shadow: 0 0 10px white inset;
    transform: translateY(100%);
    animation-name: getDown;
    animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes getDown {
    0%{
        transform: translateY(100%) rotate(0);
    } 100% {
        transform: translateY( calc(-100vh + 100%) ) rotate(360deg);
    }
}
/* animtions */
/* header */



/* about */
.about{
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
.about .right img{
    width: 100%;
    border-radius: 20px;
}
.about-heading h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: skyblue;
    line-height: 6.5rem;
    text-transform: uppercase;
    text-shadow: 10px 6px 4px rgba(0, 0, 0, 0.435);
}
.about-content p{
    font-size: 1.4rem;
    margin: 2rem 0;
    line-height: 1.7rem;
    color: rgb(255, 255, 255);
}
/* about */

.slider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem 5rem;
    gap: 1rem;
}
.slider img{
    width: 100%;
    border-radius: 10px !important;
    padding: 0 1rem;
}

/* sdsdf */

.mainContainer .left {
    height:100%;
    width:35%;
    float:left;
  }
  
  .mainContainer .right {
    height:200px;
    width:35%;
    float:right;
  }
  
  .mainContainer .top { 
    width:100%;
    height: 200px;  
  }
  
  .mainContainer .bottom {
    width:100%;
    height:200px;
  }
  
  .red {
    background:#36669d;
  } 
  
  .mainContainer {
    width:100%;
    float:left;
  }
  
  #polygon {
    padding-left:20px;
    margin-left:20px;
    width:100%;}
/* sdsdf */

/* why */
.why-us{
    padding: 2rem 5rem;
    padding-top: 15rem !important;
}
.heading{
    padding: 3rem 0;
}
.heading h1{
    font-size: 4rem;
    color: var(--background);
    text-align: center;
    color: skyblue;
    text-transform: uppercase;
    text-shadow: 10px 6px 4px rgba(0, 0, 0, 0.435);
}
.why-us .items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 2rem 2rem;
}
.why-us .items .item{
    text-align: center;
    
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    height: 500px;
    flex-direction: column;
    padding: 2rem 1rem;
    background: rgba(255, 255, 255, 0.176);
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(128, 128, 128, 0.301);
    transition: .5s;
    backdrop-filter: blur(4px);
}
.items .item:hover{
    transform: translateY(-1rem);
}
.items .item i{
    color: #fff;
    width: 8rem;
    height: 8rem;
    font-size: 3rem;
    background:var(--gradient);
    padding: 1rem;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}
.items .item i:hover{
    transform: rotate(360deg);
}
.items .item h2{
    font-size: 2rem;
    padding-top: 3rem;
    color: var(--background);
    text-transform: capitalize;
    line-height: 2.5rem;
    color: #fff;
}
.items .item p{
    font-size: 1.1rem;
    color: rgb(166, 164, 164);
    padding-top: 2rem;
    font-weight: 500;  
    line-height: 1.5rem;  
    color: #fff;
}
/* why */



/* team */
.team{
    padding: 2rem 5rem;
}

.team .members{
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.member{
    overflow: hidden;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.176);
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    height: 540px;
    position: relative;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.317);
}
.member .name{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem 0;
}
.member .detail{
    padding:0 0 2rem 0;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.members .member img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.member .social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:rgb(62, 0, 119);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .6rem 1rem;
}
.member a i{
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    transition: .5s;
}
.social i:hover{
    transform: rotate(360deg);
}
/* team */


/* roadmap */
.roadmap{
    padding: 2rem 5rem;
}
.mbl-maps{
    display: none !important;
}
.maps{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25rem;
}
.maps:nth-child(3){
    gap: 18rem;
}
.maps .map{
    width: 23rem;
    padding: 1rem;
    background: rgb(62, 0, 119);
    margin: 2.5rem 0;
    border-radius: 10px;
    position: relative;
}
.map h3{
    color: #fff;
    font-weight: 500;
    padding: .5rem;
}
.span::after{
    content: '.';
}
.map p{
    color: rgb(217, 217, 217);
    font-weight: 400;
    line-height: 1rem;
}

.maps .map .img img{
    width: 8rem;
    position: absolute;
    top: -0%;
    right: -22%;
}

.imgleft{
    left: -22%;
    transform: rotateY(180deg);
}
.imglef{
    left: -22%;
}


.linker{
    width: 10rem;
    position: absolute;
    transform: rotate(50deg);
    left: 50%;
    top: 115%;
    z-index: 980808;
    -webkit-filter: invert(100%);
}
.linker2{
    left: 40%;
}
.linker3{
    right: 0;
    left: 75%;
}
.linker4{
    left: -25%;
    transform: rotateX(180deg) rotate(40deg);
}
.linker5{
    left: 60%;
    transform: rotateX(180deg) rotate(130deg);
}
.linker7{
    left: 40%;
    transform: rotateX(180deg) rotate(130deg);
}
/* roadmap */




/* faq */
.faq {
    padding: 2rem 5rem;
}

.faq .container {
    margin-bottom: 1rem;
}

details {
    background: rgba(255, 255, 255, 0.032);
    backdrop-filter: blur(4px);
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.382);
}

summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "\002B";
    font-size: 2rem;
    color: #fff;
}

details[open] summary {
    border-bottom: 1px solid rgba(255, 255, 255, 0.292);
    margin-bottom: .5em;
}

details[open] summary:after {
    content: "\00D7";
    color: #fff;
    font-size: 2rem;
}

details[open] div {
    padding: .5em 1em;
    color: rgb(224, 224, 224);
    line-height: 2.2rem;
}

/* faq */



/* footer */
.footer {
    padding: 2rem 5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.349);
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.footer-social a i {
    color: #fff;
    font-size: 2rem;
    transition: .5s;
}

.footer-social a i:hover {
    color: var(--color1);
}

.copyright {
    font-size: 1.1rem;
    color: lightgray;
    text-transform: capitalize;
    padding-top: 1rem;
    text-align: center;
}

.privacy-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.privacy-links a {
    color: #fff;
    transition: .5s ease;
}

.privacy-links a:hover {
    color: var(--background);
}

/* footer */

.menu i{
    font-size: 2rem;
    color: #FFF;
    display: none;
}

body {
    background-image: url(../assets/header.png) !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.header-section {
    background: rgb(19,82,163);
    background: linear-gradient(180deg, rgba(19,82,163,1) 0%, rgba(78,110,121,1) 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    height: 250px; 
}

.header-section h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    margin-top: 95px;
    margin-bottom: 15px;
}

.breadcump-navigation {
    display: flex;
    justify-content: center;
}

.breadcump-navigation a {
    text-decoration: none;
    color: #fff;
}

.home-link {
    position: relative;
}

.home-link::after {
    content: '/';
    padding: 0 10px;
}

.main-section-wrapper {
    display: flex;
    background-color: var(--water-gradient);
    padding: 20px;
}

.main-section-sidebar-wrapper {
    padding: 15px;
    background: rgb(19,82,163);
    background: linear-gradient(90deg, rgba(19,82,163,1) 0%, rgba(78,110,121,1) 100%);
    border-radius: 15px;
}
.main-section-sidebar {
    width: 25%;
    height: 100%;
    position: sticky;
    padding-top: 30px;
    top: 20px;
}

/* main section */
.main-section-content {
    width: 75%;
}

.card-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    grid-column-gap: 30px;
}

.grid-item-card {
    padding: 20px;
    text-align: center;
}

.grid-item-card h4 {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-img-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.card-img-wrapper {
    margin-bottom: 10px;
}

.card-btn-inner-txt-wrapper {
    display: block;
    border: 1px solid #000;
    border-radius: 24px;
    color: #000;
    padding: 5px 0px;
}


/* sidebar */

input.search-input {
    padding: 10px 15px;
    margin-top: 8px;
    font-size: 17px;
    background: transparent;
    width: 90%;
    border-radius: 25px;
    outline: none;
    color: #fff;
    border: 1px solid #abd1e1;
}

input.search-input::placeholder {
    color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px rgb(19,82,163) inset;
  -webkit-text-fill-color: #fff !important;
}

button.submit {
    position: relative;
    top: 6px;
    background: transparent;
    border: none;
    right: 40px;
}

.search-icon-wrapper {
    position: relative;
}

.search-icon-wrapper svg {
    fill: #fff;
    width: 20px;
    position: absolute;
    right: 15px;
    top: 21px;
    cursor: pointer;
}


.sidenav {
    z-index: 1;
    background-color: transparent;
    overflow-x: hidden;
    margin-top: 20px;
}
   

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a {
    font-size: 16px;
}

button.dropdown-btn {
    font-weight: 500;
    font-size: 18px;
}
  

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.dropdown-container:last-child {
    border-bottom: none;
}
  
span.dropdown-icon svg {
    display: inline-block;
    width: 15px;
    fill: #fff;
    float: right;
}

